<div class="row">
    <div class="col-md-12">
        <div class="general-block-decorator">
            <div class="alert alert-info">
                {intl l="The url format for this module is the path with the parameters and start with '/'. (ex: '/product?product_id=2&category_id=3' or '/product' or '/' )" d="theliaredirecturl.bo.default"}
                <br />
                {intl l="They shoud not start with 'http://' or 'www'." d="theliaredirecturl.bo.default"}
            </div>
            <p>
                {intl l="To add a new redirection, use the following button (if you want to import a file of urls to redirect, go in tools, import section, category redirected urls)" d="theliaredirecturl.bo.default"}
            </p>
            <button class="btn btn-success" data-toggle="modal" data-target="#new-redirect-modal"><span class="glyphicon glyphicon-plus"></span> {intl l="New redirection" d="theliaredirecturl.bo.default"}</button>
        </div>
    </div>
</div>
{form name="redirect.url.create"}
    <form method="post" action="{url path="/admin/module/TheliaRedirectUrl/create"}">
        {form_hidden_fields form=$form}

        {form_field form=$form field='success_url'}
            <input type="hidden" name="{$name}" value="{url path='/admin/module/TheliaRedirectUrl'}" />
        {/form_field}

        <div id="new-redirect-modal" class="modal fade in {if $form_error}modal-force-show{/if}" tabindex="-1" role="dialog" aria-labelledby="import-modal-label" aria-hidden="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal">
                            <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title">
                            {intl l="New redirected url" d="theliaredirecturl.bo.default"}
                        </h4>
                    </div>
                    <div class="modal-body">
                        {if $form_error && $form_error_message}
                            <div class="alert alert-danger">{$form_error_message}</div>
                        {/if}
                        {form_field field='url'}
                            <div class="form-group {if $error}has-error{/if}">
                                <label for="{$label_attr.for}">{$label}</label>
                                <input type="text" id="{$label_attr.for}" class="form-control" name="{$name}" value="{$value}"/>
                            </div>
                        {/form_field}
                        {form_field field='temp_redirect'}
                            <div class="form-group {if $error}has-error{/if}">
                                <label for="{$label_attr.for}">{$label}</label>
                                <input type="text" id="{$label_attr.for}" class="form-control" name="{$name}" value="{$value}"/>
                            </div>
                        {/form_field}
                        {form_field field='redirect'}
                            <div class="form-group {if $error}has-error{/if}">
                                <label for="{$label_attr.for}">{$label}</label>
                                <input type="text" id="{$label_attr.for}" class="form-control" name="{$name}" value="{$value}"/>
                            </div>
                        {/form_field}
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" type="button" data-dismiss="modal">
                            {intl l="Close" d="theliaredirecturl.bo.default"}
                        </button>
                        <button class="btn btn-primary" type="submit">
                            {intl l="Save" d="theliaredirecturl.bo.defautl"}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
{/form}